@font-face {
  font-family: "iconfont"; /* Project id 5141232 */
  src: url('iconfont.woff2?t=1773883874346') format('woff2'),
       url('iconfont.woff?t=1773883874346') format('woff'),
       url('iconfont.ttf?t=1773883874346') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-commpany:before {
  content: "\e611";
}

.icon-wuliuqiache:before {
  content: "\e820";
}

.icon-wendang:before {
  content: "\e66b";
}

.icon-arrow-1-right:before {
  content: "\e600";
}

.icon-aixin:before {
  content: "\eca1";
}

.icon-yanjing:before {
  content: "\e612";
}

.icon-plus:before {
  content: "\e705";
}

.icon-minus:before {
  content: "\e706";
}

.icon-tishi:before {
  content: "\e6db";
}

.icon-shield:before {
  content: "\e601";
}

.icon-yun:before {
  content: "\e605";
}

.icon-dingwei:before {
  content: "\e631";
}

.icon-gongwenbao:before {
  content: "\e700";
}

.icon-008duihuakuang-6:before {
  content: "\e805";
}

.icon-fengxiankehu2x:before {
  content: "\e866";
}

.icon-shouqi:before {
  content: "\e8fc";
}

.icon-wailian:before {
  content: "\ebf7";
}

.icon-meiyuan:before {
  content: "\e6f1";
}

.icon-jigou:before {
  content: "\ed12";
}

.icon-lishijilu:before {
  content: "\e64e";
}

.icon-yonghu:before {
  content: "\e676";
}

.icon-icon-zancun:before {
  content: "\e67d";
}

.icon-shoucang:before {
  content: "\e60d";
}

.icon-bianji-wenjian-bianji:before {
  content: "\e639";
}

.icon-qicheSUV:before {
  content: "\e67a";
}

.icon-arrow-down:before {
  content: "\e602";
}

.icon-shijiankaishishijian:before {
  content: "\e603";
}

.icon-Telephone:before {
  content: "\e615";
}

.icon-fasong:before {
  content: "\e728";
}

